body{
	font:'Roboto', sans-serif;
}
.aboutbg{
	margin:0 auto;
	box-sizing: border-box;
	background-image: url("../img/aboutbackground.png");
	background-size: cover;
	background-repeat: no-repeat;
	color:white;
	height: 100%;
}
img{
	width:100%;
}

.bg-light{
	background: transparent !important;
}
.logo{
	width:65px;
	height: 55px;
}
.logo img{
	width:100%;
}
.navbar{
padding-top:35px;
}
.navbar-nav{
	margin-left:50px;
}
.nav-link{
	color:white !important;
	font-family: 'Montserrat', sans-serif;
	font-size:16px;
	padding:9px 15px !important;
}
.nav-item{
	padding-left:35px !important;
}
.sectionTitle{
	font-size: 20pt;
}
.section{
	padding:45px 0;
}

.profile{
	margin-right:45px;
	margin-left:25px;
}
.profileImg{
	float:left;
	width:50px;
	height: 60px;
}

.personalDesc{
	font-family: 'Montserrat', sans-serif;
	float:right;
	margin-left: 10px;
	margin-top:10px;
}
.personalName{
	font-size:16px;
    padding-bottom: 0;
    margin-bottom: 0
}
.personalDesc span{
	margin-top:0;
	font-size:12px;
}
.notification,.logout{
	height: 30px;
	width: 30px;
	margin-right:20px;

}
.notification img,.logout img{
		background-color: rgba(255,255,255,.2);
	border-radius: 50%;
	padding:5px;
}
.nav-link:hover{
background-color: rgba(255,255,255,.2);
border-radius: 20px;
}
.FAQ p ,.FAQ h6 ,.copyRight span{
	font-size: 14pt;
}
.FAQ p ,.FAQ h6 {
	line-height: 1.5;
	margin-bottom: 30px;
}
.FAQ{
	margin-top:40px;
}
.copyRight{
	margin-top:40px;
}
/****************mobile*********************/
@media (min-width: 300px) and (max-width: 767px){
	.aboutbg{

		color:black;
	}
	.FAQ p,.FAQ h6{
		font-size:12pt;
		font-family: 'Montserrat', sans-serif;
	}
}